@import '../../../scss/extends';

.Alert {
    font-size: 10px;

    &__center {
        @extend .flex-center;
    }

    &__absolute {
        position: absolute;
        top: 6rem;
        right: 1rem;
        padding: 2px 8px;
    }
}